<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="https://solarsecure.in/wp-content/uploads/2021/04/cropped-LOgo-2-1-32x32.png" type="">

  <title> Solar Secure </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />


</head>

<body class="sub_page">
  

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.png" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="favicon" href="/">
            <img src="images/solar.png">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products">Menu</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="bookatable">Book A Table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footersection">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="legal">Privacy Policy</a>
              </li>
            </ul>
            <div class="user_option">
              <!--<a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a> -->
               <a class="cart_link" href="nocart"> <img src="images/cart.png"> 

              <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg> -->
              </a>

              <a href="products" class="order_online">
                Order Online
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Solar Secure
              </h2>
            </div>
            <p>
              Solar secure solutions was established in 2018 by a passionate team of freelancers primarily as a Web
              Development company on the principles of high standards, ethics, and genuine customer service and since
              then we have provided boost to many small and big businesses and gained their trusts with repetitive
              project orders. Our Headquarter is located in Indiana (USA) and another office in New Delhi (India) and
              Bengaluru (also called Bangalore) . Our moto is to make healthy relations with our clients and we believe
              that blessing actually works.
              We thank to you for visiting our website and knowing about us, feel free to explore and tell what we can
              do for you.
              Solar Secure solutions is an MSME(Govt. of India) organization working on various environmental issues
              such as solar energy services, water conservation, renewable energy projects, IT solutions and Artificial
              Intelligence projects, eco-tourism Camps. We are conducting various workshops, Certified Industrial Solar
              Internships for final year engineering students and training programs on solar photovoltaic technology for
              individuals & corporate sectors. Solar Secure solutions also take up consulting, design, and erection of
              solar and renewable energy products to the Indian sub-continent region.
              Solar Secure was founded with the mission to spread solar across the rooftops of Australia , India and
              western countries while providing an exceptional customer experience. Our Headquarter is located in
              Melbourne ,Australia and another India office in New Delhi (India).
              We believe in creating satisfied customers to gain rapid growth of the company and to expand nationally
              over the next couple of years.
              Udyam Registration Number (UAN Number): UDYAM-UP-43-0012206
              MSME (Government of India )
            <p>We also Offer renewable energy ,IT sector and electrical Power sector internship such as Hybrid electric
              vehicles , Smart grids and embedded systems , PLC & SCADA training to the engineering graduates to enhance
              and increase their industry level skills for future .</p>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <section class="book_section layout_padding" id="bookatable">

    <div class="mx-auto container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form id="checkout-form" method="get" action="/book">
              <div>
                <input type="text" class="form-control name" id="checkout-name" name="name" required
                  placeholder="Name" />
              </div>

              <div>
                <input type="tel" class="form-control mobile" id="checkout-phone" name="phone" required
                  placeholder="Mobile Number" />
              </div>

              <div>
                <input type="email" class="form-control emailid" id="checkout-email" name="email" required
                  placeholder="Email Id" />

              </div>

              <div>
                <select class="form-control nice-select wide personcount" compulsary>
                  <option value="" disabled selected>
                    Person Count
                  </option>
                  <option value="">
                    1
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>



              <div>
                <input type="date" class="form-control" name="date" placeholder="Date" required>

              </div>

              <div>
                <input type="submit" class="btn" id="checkout-btn" name="Book Now" value="Book Now">
              </div>

            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap">
              <p><iframe
                  src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=iiit+hyderabad&amp;sll=35.227672,-103.513184&amp;sspn=10.331413,22.258301&amp;ie=UTF8&amp;ll=17.456128,78.352175&amp;spn=0.011791,0.021737&amp;z=14&amp;output=embed"
                  width="675" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer_section" id="footersection">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              CONTACT US
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/IIIT-H+%7C+The+International+Institute+of+Information+Technology+-+Hyderabad/@17.4448649,78.3476251,17z/data=!3m1!4b1!4m5!3m4!1s0x3bce0a03f17ff82b:0x9d02e89b98deb496!8m2!3d17.4448649!4d78.3498138/"
                target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  IIIT-H | The International Institute of Information Technology - Professor CR Rao Rd, Gachibowli,
                  Hyderabad, Telangana 500032
                </span>
              </a>
              <a href="tel:+9848739590">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9848739590
                </span>
              </a>
              <a href="mailto:rohan.iiith@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  rohan.iiith@gmail.com
                </span>
              </a>
              <a href="https://github.com/EswaraRohan/" target="_blank">
                <i class="fa fa-github" style="font-size:24px"></i>
                <span>
                  Github - EswaraRohan
                </span>
              </a>
              <a href="https://www.linkedin.com/in/eswara-rohan-er2002/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <span>
                  Linkedin - Eswara Rohan
                </span>
              </a>

              <a href="              https://drive.google.com/file/d/1WaXI0EbvteeZfoNOKrXnv2oNrh2z4La5/view?usp=sharing
              " target="_blank">
                <i class="fa fa-cloud"></i>
                <span>
                  Resume - Eswara Rohan
                </span>
              </a>

            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="/" class="footer-logo">
              SOLAR SECURE
            </a>
            <p>
              A GLOBAL PROMISE OF QUALITY.
              We pride ourselves on our firm commitment to good food and great taste with a globally executed quality
              assurance programme.
              All produce is fresh, all suppliers are approved and certified by SOLAR SECURE SOLUTIONS.
              We remain invested in our flame grilling - something that makes our offerings rare.
            </p>
            <div class="footer_social">

              <a href="https://www.linkedin.com/in/eswara-rohan-er2002/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/eswara_rohan/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.facebook.com/eswara.rohan/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/EswaraRohan" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.pinterest.com/solarsecuresocial/" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <a href="legal" class="footer-logo">
            LEGAL INFO
          </a>
          <p>
            <a href="legal" class="legal"> Terms And Conditions
            </a>
          </p>
          
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>